* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 180px;
  padding-right: 180px;
}

.header {
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.list-header {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.list-header li {
  padding-left: 1rem;
  cursor: pointer;
}

.login-header {
  text-decoration: none;
  color: black;
}

/* finish header */

.hero-section {
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  color: white;
  height: calc(100vh - 60px);
  display: Flex;
  padding-top: 8rem;
  justify-content: space-between;
}

.hero-section-part-one {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.hero-section-part-one h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  /* width: 80%; */
}

.hero-section-part-one p {
  margin-bottom: 1.5rem;
}

.hero-section-part-one input {
  font-size: 1rem;
  padding: 0.7rem 0.75rem 0.8rem;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 0.3rem;
  max-width: 300px;
  width: 376px;
}

.hero-section-part-one button {
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(255, 255, 255) !important;
  margin-left: 10px;
}

/* finish hero section */

.productivity {
  margin-top: 40px;
}

.productivity-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.productivity-texts p {
  line-height: 1.75;
}

.productivity-cards {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.productivity-card {
  background-color: rgb(255, 255, 255);
  color: rgb(9, 30, 66);
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  border-radius: 0.3rem;
  border: 0px;
  padding: 1rem 1rem 1rem 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 5px solid blue;
}

/* finish productivity */

.workflow .workflow-para {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.workflow .workflow-header {
  /* font-size: 2.25rem; */
  line-height: 1.33333;
}

.workflow-cards {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.workflow-card {
  padding: 1.25rem 1.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
  border-top: 5px solid blue;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price{
    display: flex;
    flex-direction:column;
    align-items: center;
    background: linear-gradient(rgb(230, 252, 255), rgb(255, 255, 255)) 0% 0% / auto no-repeat scroll padding-box border-box transparent;
    background-blend-mode: normal;
}

.price-header{
    display:Flex;
    flex-direction: column;
    gap: 10px;
    text-align:center;
    justify-content:center;
    padding-top: 40px;
}

.price-header button{

    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    font-size: 1rem;
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(255, 255, 255) !important;
    width:fit-content;
}

.price-cards{
    display:flex;
    gap: 10px;
    margin-top:40px;
    margin-bottom: 40px;
}

.price-card{
    background-color: rgb(255, 255, 255);
    padding: 1.5rem 1rem 0px;
    text-align: left;
    border: 1px solid rgb(223, 225, 230);
    border: 1px solid rgb(223, 225, 230);
    flex:1;
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.price-card-content{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.price-card button{
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    background-color: rgb(230, 252, 255);
    border: 1px solid rgb(0, 184, 217);
    font-size: 1rem;
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(23, 43, 77) !important;
    width:fit-content;
    margin-bottom: 10px;
}

.price-card-content .para-font-light{
    color: rgb(80, 95, 121);
    font-size: 0.75rem;
}

.price-card-content .price-number{
    font-size:3rem;
    font-weight:bold;
}
.price-card-content .price-cuurency{
    font-size:1rem;
}

.signup-section{
    background: url(//images.ctfassets.net/rz1oowkt5gyp/6Q4l8SJeMZGSu1m6W9vAjL/1021a10…/BigSwingFooterHeroGraphic__Left.svg) left center / contain no-repeat scroll padding-box border-box, url(//images.ctfassets.net/rz1oowkt5gyp/7KsuX6srvRqJVzeAIdIzIb/da1a331…/BigSwingFooterHeroGraphic__Right.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
        background-blend-mode: normal, normal, normal;
        color: rgb(255, 255, 255);
        height:300px;
        display:flex;
        justify-content: center;
        text-align:center;
        margin-bottom:40px;
}

.signup-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}


.signup-section input{
    font-size: 1rem;
    padding: 0.7rem 0.75rem 0.8rem;
    border: 1px solid rgb(223, 225, 230);
    border-radius: 0.3rem;
    max-width: 376px;
    width: 376px;
}

.signup-section button{
    align-items: center;
    border-radius: 0.3rem;
    cursor: pointer;
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 101, 255);
    border: 1px solid rgb(0, 101, 255);
    font-size: 1rem;
    padding: 0.7rem 1rem 0.8rem;
    color: rgb(255, 255, 255) !important;
    margin-left: 10px;
}

.footer {
    background-color: rgb(23, 43, 77);
    color: rgb(255, 255, 255);
}

.footer-info{
    display:flex;
    gap: 1rem;
    padding:40px 0 ;
}

.footer-info-para{
display:flex;
flex-direction:column;
gap:10px;
}

.footer-social{
    display :flex;
    gap:25px;
}
.footer svg path{
    fill: rgb(255, 255, 255); 
}

.footer-icons{
    display:flex;
    gap:25px;
}

.footer-social-flex{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    padding-bottom:20px;
}
