* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 180px;
  padding-right: 180px;
}

.header {
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.list-header {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.list-header li {
  padding-left: 1rem;
  cursor: pointer;
}

.login-header {
  text-decoration: none;
  color: black;
}

/* finish header */

.hero-section {
  background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180));
  color: white;
  height: calc(100vh - 60px);
  display: Flex;
  padding-top: 8rem;
  justify-content: space-between;
}

.hero-section-part-one {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top:6rem;
}

.hero-section-part-one h1 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  /* width: 80%; */
}

.hero-section-part-one p {
  margin-bottom: 1.5rem;
}

.hero-section-part-one input {
  font-size: 1rem;
  padding: 0.7rem 0.75rem 0.8rem;
  border: 1px solid rgb(223, 225, 230);
  border-radius: 0.3rem;
  max-width: 300px;
  width: 376px;
}

.hero-section-part-one button {
  align-items: center;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  background-color: rgb(0, 101, 255);
  border: 1px solid rgb(0, 101, 255);
  font-size: 1rem;
  padding: 0.7rem 1rem 0.8rem;
  color: rgb(255, 255, 255) !important;
  margin-left: 10px;
}

/* finish hero section */

.productivity {
    margin-top: 40px;
}

.productivity-texts {
    display:flex;
    flex-direction: column;
    gap:10px;
    width:50%
}

.productivity-texts p {
    line-height:1.75
}

.productivity-cards{
    display:flex;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 40px;

}

.productivity-card{
    background-color: rgb(255, 255, 255);
    color: rgb(9, 30, 66);
    box-shadow: rgba(9, 30, 66, 0.15) 0px 0.5rem 1rem 0px;
    border-radius: 0.3rem;
    border: 0px;
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: left;
    border-top:5px solid blue;
}
